[submodule "shared_code"]
	path = shared_code
	url = https://github.com/ministryofjustice/securityanalytics-sharedcode.git
[submodule "task_execution"]
	path = task_execution
	url = https://github.com/ministryofjustice/securityanalytics-taskexecution.git
